extends ../layout

block content
  h2.display-data= __("%s Detail", __("User"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td= __("Firstname")
          td= display(user.firstName)
        tr
          td= __("Lastname")
          td= display(user.lastName)
        tr
          td= __("Nicename")
          td= display(user.niceName)
        tr
          td= __("Displayname")
          td= display(user.displayName)
        tr
          td= __("Email")
          td= display(user.email)
        tr
          td= __("Password")
          td= display(user.password)
        tr
          td= __("Activationkey")
          td= display(user.activationKey)
        tr
          td= __("Created")
          td= display(user.created)
        tr
          td= __("Updated")
          td= display(user.updated)
        tr
          td= __("Status")
          td= display(user.status)
        tr
          td= __("Url")
          td= display(user.url)


  .form-actions
    a.btn.btn-warning(href="/users")= __("Back")
    | 
    a.btn.btn-primary(href="/users/" + user._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/users/" + user._id + "/delete")= __("Delete")