extends ../layout

block content
  h2.display-data= __("%s Detail", __("Comment"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td= __("Authorname")
          td= display(comment.authorName)
        tr
          td= __("Authoremail")
          td= display(comment.authorEmail)
        tr
          td= __("Authorip")
          td= display(comment.authorIP)
        tr
          td= __("Authorurl")
          td= display(comment.authorUrl)
        tr
          td= __("Created")
          td= display(comment.created)
        tr
          td= __("Updated")
          td= display(comment.updated)
        tr
          td= __("Content")
          td= display(comment.content)
        tr
          td= __("User")
          td= display(comment.user)
        tr
          td= __("Banned")
          td= display(comment.banned)


  .form-actions
    a.btn.btn-warning(href="/comments")= __("Back")
    | 
    a.btn.btn-primary(href="/comments/" + comment._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/comments/" + comment._id + "/delete")= __("Delete")