extends ../layout

block content
  h2.display-data= __("%s Detail", __("Post"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td= __("Authorid")
          td= display(post.authorId)
        tr
          td= __("Authorname")
          td= display(post.authorName)
        tr
          td= __("Title")
          td= display(post.title)
        tr
          td= __("Content")
          td= display(post.content)
        tr
          td= __("Excerpt")
          td= display(post.excerpt)
        tr
          td= __("Url")
          td= display(post.url)
        tr
          td= __("Created")
          td= display(post.created)
        tr
          td= __("Updated")
          td= display(post.updated)
        tr
          td= __("Metas")
          td= display(post.metas)


  .form-actions
    a.btn.btn-warning(href="/posts")= __("Back")
    | 
    a.btn.btn-primary(href="/posts/" + post._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/posts/" + post._id + "/delete")= __("Delete")