extends ../layout

block content
  h2.display-data= __("%s Detail", __("Termtaxonomy"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td= __("Term")
          td= display(termtaxonomy.term)
        tr
          td= __("Taxonomy")
          td= display(termtaxonomy.taxonomy)
        tr
          td= __("Description")
          td= display(termtaxonomy.description)


  .form-actions
    a.btn.btn-warning(href="/termtaxonomies")= __("Back")
    | 
    a.btn.btn-primary(href="/termtaxonomies/" + termtaxonomy._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/termtaxonomies/" + termtaxonomy._id + "/delete")= __("Delete")