extends ../layout

block content
  h2.display-data= __("%s Detail", __("Termrelationship"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td Objectid
          td= display(termrelationship.objectId)
        tr
          td Termtaxonomyid
          td= display(termrelationship.termTaxonomyId)
        tr
          td Termorder
          td= display(termrelationship.termOrder)


  .form-actions
    a.btn.btn-warning(href="/termrelationships")= __("Back")
    | 
    a.btn.btn-primary(href="/termrelationships/" + termrelationship._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/termrelationships/" + termrelationship._id + "/delete")= __("Delete")