extends ../layout

block content
  h2.display-data= __("Delete %s?", __("Link"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td Target
          td= display(link.target)
        tr
          td Name
          td= display(link.name)
        tr
          td Image
          td= display(link.image)
        tr
          td Description
          td= display(link.description)
        tr
          td Rel
          td= display(link.rel)


  form#link-form.form-horizontal(action="/links/" + link._id + "/delete", method="POST")
    .form-actions
      a.btn.btn-warning(href="/links")= __("Back")
      | 
      input.btn.btn-danger(type="submit", value=__("Delete"))
