extends ../layout

block content
  h2.display-data= __("%s Detail", __("Option"))
            
  table.table.table-bordered
    tr
      th= __("Property")
      th= __("Value")
        tr
          td Name
          td= display(option.name)
        tr
          td Value
          td= display(option.value)


  .form-actions
    a.btn.btn-warning(href="/options")= __("Back")
    | 
    a.btn.btn-primary(href="/options/" + option._id + "/edit")= __("Edit")
    | 
    a.btn.btn-danger(href="/options/" + option._id + "/delete")= __("Delete")